@import '../base/breaks';
@import '../base/fonts';

%code {
  @extend %mono;
  font-size: 14px;
  line-height: 20px;

  @include breakpoint($big) {
    font-size: 16px;
    line-height: 22px;
  }
}

.article {
  h2 {
    @extend %wrap;
    @extend %default-margin;
    @extend %sans;
    font-size: 32px;
    line-height: 36px;

    @include breakpoint($big) {
      font-size: 48px;
      line-height: 56px;
    }
  }
}

.entry {
  a {
    box-shadow: inset 0 -4px 0 #539ad7;
    &:hover {
      background: #539ad7;
    }
  }

  blockquote {
    @extend %wrap;
    @extend %default-margin;
    font-size: 0.85em;
    line-height: 1.4em;
    padding-left: 50px;
  }

  code {
    @extend %code;
    background: #eee;
    display: inline-block;
    padding: 1px 4px;
    vertical-align: 1px;
  }

  h3 {
    @extend %wrap;
    @extend %default-margin;
    @extend %sans;
    font-size: 24px;
    line-height: 28px;

    @include breakpoint($big) {
      font-size: 32px;
      line-height: 36px;
    }
  }


  hr {
    @extend %default-margin;
    background: #eee;
    border: 0;
    height: 2px;
  }

  ol {
    @extend %default-margin;
    @extend %wrap;
    padding-left: 45px;
  }

  p {
    @extend %wrap;
    @extend %default-margin;
  }

  pre {
    @extend %default-margin;
    background: #333;
    color: #fff;
    overflow: scroll;
    padding: 15px 0;

    code {
      @extend %wrap;
      background: none;
      display: block;
      vertical-align: baseline;
    }
  }

  ul {
    @extend %default-margin;
    @extend %wrap;
    list-style: square;
    padding-left: 45px;
  }
}
