@import '../base/breaks';
@import '../base/fonts';

%code {
  @extend %mono;
  font-size: 14px;
  line-height: 20px;

  @include breakpoint($big) {
    font-size: 16px;
    line-height: 22px;
  }
}

.article {
  h2 {
    @extend %wrap;
    @extend %default-margin;
    @extend %sans;
    font-size: 32px;
    line-height: 36px;

    @include breakpoint($big) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &-meta {
    @extend %wrap;
    @extend %default-margin;
    @extend %mono;
    font-size: 14px;
    line-height: 18px;
  }

  &-date {
    text-transform: lowercase;
  }

  &-cats {
    a {
      background: #333;
      color: #fff;
      display: inline-block;
      padding: 0 4px;
    }
  }

  &-tags {
    a {
      text-decoration: underline;
      text-transform: lowercase;
    }
  }
}

.entry {
  a {
    box-shadow: inset 0 -4px 0 #539ad7;
    &:hover {
      background: #539ad7;
    }
  }

  blockquote {
    @extend %wrap;
    @extend %default-margin;
    border-left: solid 30px #eee;
    font-size: 0.85em;
    line-height: 1.4em;

    @include breakpoint($big) {
      padding-left: 30px !important;
    }
  }

  code {
    @extend %code;
    background: #eee;
    display: inline-block;
    padding: 1px 4px;
    vertical-align: 1px;
  }

  h3 {
    @extend %wrap;
    @extend %default-margin;
    @extend %sans;
    font-size: 24px;
    line-height: 28px;

    @include breakpoint($big) {
      font-size: 32px;
      line-height: 36px;
    }
  }

  h4 {
    @extend %wrap;
    @extend %default-margin;
    @extend %sans;
    font-size: 20px;
    line-height: 24px;

    @include breakpoint($big) {
      font-size: 26px;
      line-height: 32px;
    }
  }

  h5 {
    @extend %wrap;
    @extend %default-margin;
    @extend %sans;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    @include breakpoint($big) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  hr {
    @extend %default-margin;
    background: #eee;
    border: 0;
    height: 2px;
  }

  ol {
    @extend %default-margin;
    @extend %wrap;
    padding-left: 45px !important;
  }

  p {
    @extend %wrap;
    @extend %default-margin;
  }

  pre {
    @extend %default-margin;
    background: #333;
    color: #fff;
    overflow: scroll;
    padding: 15px 0;

    code {
      @extend %wrap;
      background: none;
      display: block;
      vertical-align: baseline;
    }
  }

  table {
    @extend %default-margin;
    @extend %wrap;
    font-size: 0.85em;
    width: 100%;
  }

  td,
  th {
    padding: 3px 6px;
  }

  th {
    font-weight: 700;
  }

  tr {
    background: #ddd;
    &:nth-child(2n+1) {
      background: #eee;
    }
  }

  ul {
    @extend %default-margin;
    @extend %wrap;
    list-style: square;
    padding-left: 45px !important;
  }

  .katex {
    font-size: 0.8em;
  }
}
