.comments {
  background: #eee;
  padding: 5px;

  &-title {
    @extend %default-margin;
    @extend %sans;
    @extend %wrap;
    font-size: 32px;
    line-height: 36px;
  }

  &-list {
    @extend %default-margin;
    @extend %wrap;
  }
}

.comment {
  &-avatar {
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    vertical-align: middle;
    width: 40px;
  }

  &-header {
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &-info {
    display: inline-block;
    font-size: 17px;
    line-height: 1em;
    margin-left: 10px;
    vertical-align: middle;
  }

  &-time {
    color: #999;
    font-size: 15px;
  }

  &-buttons {
    @extend %default-margin;
    font-size: 13px;
    line-height: normal;
    margin-left: 50px;

    > a {
      @extend %sans;
      color: #35c;
    }

    .reply-cancel {
      display: none;
    }

    &.replying {
      > .reply-button {
        display: none;
      }

      > .reply-cancel {
        display: block;
      }
    }

    .form-fieldset {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.form {
  &-fieldset {
    @extend %default-margin;
    @extend %wrap;
    border: 0;
    font-size: 18px;
  }

  &-fields {
    list-style: none;
  }

  &-label {
    display: none;
  }

  &-input, &-text {
    @extend %serif;
    border: solid 1px #ddd;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05) inset;
    display: block;
    font-size: 18px;
    margin: 12px 0;
    padding: 10px 8px;
    width: 100%;
  }

  &-text {
    height: 200px;
  }

  &-checkbox {
    display: inline-block;
    margin-right: 3px;
    vertical-align: 1px;
  }

  &-button {
    @extend %sans;
    background: #bdf;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    margin: 12px 0;
    padding: 8px 12px;
    &:hover {
      background: #9cf;
    }
  }
}

.reply {
  @extend %default-margin;
  border-left: dashed 1px #aaa;
  padding-left: 10px;
  @include breakpoint($big) {
    margin-left: 20px;
    padding-left: 20px;
  }
}

.comment, .reply {
  .entry {
    font-size: 0.9em;
    line-height: 1.3em;
    margin-left: 35px;

    pre code {
      @include breakpoint($big) {
        min-width: 100%;
      }
    }
  }
}

.comment-feedback {
  background: rgba(0, 0, 0, 0.8);
  bottom: -100px;
  color: #fff;
  font-size: 16px;
  left: 10px;
  line-height: 1.3em;
  max-width: 320px;
  padding: 10px 15px;
  position: fixed;
  transition: all 200ms cubic-bezier(0.4, 0.0, 0.2, 1.0);
  z-index: 2;

  a {
    text-decoration: underline;
  }

  &.show {
    bottom: 10px;
  }
}
