@import '../base/breaks';

$header-line-height: 48px;
$header-font-size: 20px;

$big-header-line-height: 64px;
$big-header-font-size: 28px;

html {
  padding-top: $header-line-height;

  @include breakpoint($big) {
    padding-top: $big-header-line-height;
  }
}

.header {
  background: #0A3641;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.85;
  right: 0;
  white-space: nowrap;
  z-index: 1;

  &-title {
    @extend %sans;
    display: table-cell;
    font-size: $header-font-size;
    line-height: $header-line-height;
    text-transform: lowercase;
    vertical-align: middle;

    @include breakpoint($big) {
      font-size: $big-header-font-size;
      line-height: $big-header-line-height;
    }
  }

  .wrap {
    display: table;
    width: 100%;
  }

  &-menu {
    @extend %mono;
    display: table-cell;
    font-size: 14px;
    list-style: none;
    text-align: right;
    text-transform: lowercase;
    vertical-align: middle;

    > li {
      display: inline-block;

      &::before {
        content: " | ";
      }

      &:first-child::before {
        content: none;
      }
    }

    @include breakpoint($big) {
      font-size: 16px;
    }
  }
}

@media print {
  .header {
    background: none;
    color: #000;

    &-menu {
      display: none;
    }
  }
}
