<!-- vim: set syntax=gohtmltmpl: -->
<article class="article">
	<h2><a href="{{ .URL }}">{{ .Title }}</a></h2>

  <div class="article-meta">
    <span class="article-date">{{ .Date.Format "02/Jan/2006 15:04" }}</span>

    |

    {{ with .Params.categories }}
      <span class="article-cats">
        {{ range . }}
          <a href="/categories/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </span>
    {{ end }}
  </div>

  <div class="entry">
    {{ .Content }}
  </div>

  <div class="article-meta">
    {{ with .Params.tags }}
      <span class="article-tags">
        <strong>Tags:</strong>
        {{ range . }}
          <a href="/tags/{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </span>
    {{ end }}
  </div>
</article>
