<!-- vim: set syntax=gohtmltmpl: -->
<article class="article" itemscope itemtype="http://schema.org/Article">
  {{- if ne .Type "page" -}}
    {{ with .Params.categorias -}}
      <div class="article-cats" itemProp="articleSection">
        {{- range . }}
          <a href="/categorias/{{ . | urlize }}/">{{ . }}</a>
        {{- end -}}
      </div>
    {{- end -}}
  {{- end -}}

  <h2 itemprop="headline"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>

  {{- if ne .Type "page" -}}
    <div class="article-meta">
      <time class="article-date" itemprop="datePublished">
        {{- .Date.Local.Format "📅 Publicado em 02/01/2006 às 15:04" -}}
      </time>
    </div>
  {{- end -}}

  <div class="entry" itemprop="articleBody">
    {{- .Content -}}
  </div>

  {{- if ne .Type "page" -}}
    <div class="article-meta">
      {{- with .Params.tags -}}
        <span class="article-tags">
          <strong>Tags:</strong>
          {{- range . }}
            <a href="/tags/{{ . | urlize }}/">{{ . }}</a>
          {{- end -}}
        </span>
      {{- end -}}
    </div>
  {{- end -}}
</article>
