<!-- vim: set syntax=gohtmltmpl: -->
<article class="article" itemscope itemtype="http://schema.org/Article">
  <h2 itemprop="headline"><a href="{{ .URL }}">{{ .Title }}</a></h2>

  {{- if ne .Type "page" -}}
    <div class="article-meta">
      <time class="article-date" itemprop="datePublished">
        {{- .Date.Local.Format "02/01/2006 15:04" -}}
      </time>
      |
      {{ with .Params.categorias -}}
        <span class="article-cats" itemProp="articleSection">
          {{- range . }}
            <a href="/categorias/{{ . | urlize }}/">{{ . }}</a>
          {{- end -}}
        </span>
      {{- end }}
    </div>
  {{- end -}}

  <div class="entry" itemprop="articleBody">
    {{- .Content -}}
  </div>

  {{- if ne .Type "page" -}}
    <div class="article-meta">
      {{- with .Params.tags -}}
        <span class="article-tags">
          <strong>Tags:</strong>
          {{- range . }}
            <a href="/tags/{{ . | urlize }}/">{{ . }}</a>
          {{- end -}}
        </span>
      {{- end -}}
    </div>
  {{- end -}}
</article>
