<!-- vim: set syntax=gohtmltmpl: -->
{{ range $index, $comments := (index $.SiteDataComments_parent $.entryId_parent ) }}
  {{ if eq .reply_to $.parentId }}
    <div class="reply">
      <div class="comment-header">
        <img class="comment-avatar" src="//gravatar.com/avatar/{{ .email }}?s=80&d=retro" />
        <p class="comment-info">
          <strong>{{ .name }}</strong><br />
          <time class="comment-time">{{ dateFormat "02/01/2006 15:04" .date }}</time>
        </p>
      </div>
      <div class="comment-body entry">
        {{ $markdown := .body | markdownify }}
        {{ if not ( strings.Contains $markdown "<p>" ) }}
          <p>{{ $markdown }}</p>
        {{ else }}
          {{ $markdown }}
        {{ end }}
      </div>
    </div>
  {{ end }}
{{ end }}
