@import '~breakpoint-sass/stylesheets/breakpoint';

$big: 840px;

%wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: $big;
  padding-left: 15px;
  padding-right: 15px;
}

%default-margin {
  margin-bottom: 20px;
  margin-top: 20px;

  @include breakpoint($big) {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
