@import 'breaks';
@import 'fonts';

html {
  @extend %serif;
  background: #fff;
  color: #333;
  font-size: 18px;
  line-height: 24px;
  overflow-wrap: break-word;

  @include breakpoint($big) {
    font-size: 23px;
    line-height: 32px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  @media print {
    font-size: 10pt;
    line-height: 1.5em;
    text-align: justify;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.wrap {
  @extend %wrap;
}
