.Blockquote__root___9Xne7 {
  display: flex;
  flex-direction: column;
  border-left-style: solid;
  padding-left: 10px;
  position: relative;
  border-width: 10px;
}
.Blockquote__root___9Xne7 > .__wab_flex-container {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.Blockquote__root___9Xne7 > .__wab_flex-container > *,
.Blockquote__root___9Xne7 > .__wab_flex-container > .__wab_slot > * {
  margin-top: 15px;
}
@media (min-width: 600px) {
  .Blockquote__root___9Xne7 > .__wab_flex-container {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 600px) {
  .Blockquote__root___9Xne7 > .__wab_flex-container > *,
  .Blockquote__root___9Xne7 > .__wab_flex-container > .__wab_slot > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.Blockquote__slotChildren__qy49P {
  font-size: 14px;
}
@media (min-width: 600px) {
  .Blockquote__slotChildren__qy49P {
    font-size: 16px;
  }
}
