.TextContent__root__PYF4a {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  display: flex;
  position: relative;
  flex-direction: column;
}
.TextContent__root__PYF4a > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.TextContent__root__PYF4a > .__wab_flex-container > *,
.TextContent__root__PYF4a > .__wab_flex-container > .__wab_slot > * {
  margin-top: 20px;
}
@media (min-width: 600px) {
  .TextContent__root--baseMedium__PYF4afFuoP_MVUpr {
  }
}
@media (min-width: 600px) {
  .TextContent__root--baseMedium__PYF4afFuoP_MVUpr > .__wab_flex-container {
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 600px) {
  .TextContent__root--baseMedium__PYF4afFuoP_MVUpr > .__wab_flex-container > *,
  .TextContent__root--baseMedium__PYF4afFuoP_MVUpr
    > .__wab_flex-container
    > .__wab_slot
    > * {
    margin-top: 30px;
  }
}
.TextContent__slotChildren__s4_sI {
  font-weight: 400;
}
@media (min-width: 600px) {
  .TextContent__slotChildren--baseMedium__s4_sIfFuoP_MVUpr {
    font-size: 19px;
  }
}
