.Card__root__sLfg1 {
  display: inline-flex;
  width: auto;
  height: auto;
  flex-direction: row;
  position: relative;
}
.Card__root__sLfg1 > .__wab_flex-container {
  flex-direction: row;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.Card__root__sLfg1 > .__wab_flex-container > *,
.Card__root__sLfg1 > .__wab_flex-container > .__wab_slot > * {
  margin-left: 15px;
}
@media (min-width: 600px) {
  .Card__root__sLfg1 > .__wab_flex-container {
    margin-left: calc(0px - 25px);
    width: calc(100% + 25px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 600px) {
  .Card__root__sLfg1 > .__wab_flex-container > *,
  .Card__root__sLfg1 > .__wab_flex-container > .__wab_slot > * {
    margin-left: 25px;
    margin-top: 0px;
  }
}
.Card__avatar__ndFwz {
  position: relative;
  object-fit: cover;
  width: 120px;
  height: auto;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 50%;
}
@media (min-width: 600px) {
  .Card__avatar__ndFwz {
    width: 160px;
    flex-shrink: 0;
  }
}
.Card__box__jOtdy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  min-width: 0;
}
@media (min-width: 600px) {
  .Card__box__jOtdy {
    width: 100%;
    min-width: 0;
  }
}
.Card__slotTitle__qx3Nd {
  font-size: 22px;
  font-weight: 500;
}
@media (min-width: 600px) {
  .Card__slotTitle__qx3Nd {
    font-size: 29px;
  }
}
.Card__h1__epAqg {
  position: relative;
}
.Card__slotDescription__j1Fg7 {
  font-size: 15px;
  font-weight: 300;
}
@media (min-width: 600px) {
  .Card__slotDescription__j1Fg7 {
    font-size: 20px;
  }
}
