.TextContent__root__pyf4A {
  display: flex;
  position: relative;
  flex-direction: column;
}
.TextContent__root__pyf4A > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.TextContent__root__pyf4A > .__wab_flex-container > *,
.TextContent__root__pyf4A > .__wab_flex-container > .__wab_slot > * {
  margin-top: 20px;
}
@media (min-width: 600px) {
  .TextContent__root__pyf4A > .__wab_flex-container {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 30px);
    height: calc(100% + 30px);
  }
}
@media (min-width: 600px) {
  .TextContent__root__pyf4A > .__wab_flex-container > *,
  .TextContent__root__pyf4A > .__wab_flex-container > .__wab_slot > * {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.TextContent__slotChildren__s4SI {
  font-weight: 400;
}
@media (min-width: 600px) {
  .TextContent__slotChildren__s4SI {
    font-size: 19px;
  }
}
