.Pagination__root__vKwe9 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.Pagination__prev__pfrdz {
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
  color: rgb(136, 136, 136) /* plasmic-token: LcEYQw5GO */;
}
@media (min-width: 600px) {
  .Pagination__prev__pfrdz {
    font-size: 18px;
  }
}
.Pagination__root__vKwe9 .Pagination__prev__pfrdz:hover {
  color: rgb(85, 85, 85);
}
.Pagination__root__vKwe9 .Pagination__prev__pfrdz:active {
  color: rgb(51, 51, 51);
}
.Pagination__next__pUhYk {
  position: relative;
  left: auto;
  top: auto;
  font-size: 14px;
  color: rgb(136, 136, 136) /* plasmic-token: LcEYQw5GO */;
}
@media (min-width: 600px) {
  .Pagination__next__pUhYk {
    font-size: 18px;
  }
}
.Pagination__root__vKwe9 .Pagination__next__pUhYk:hover {
  color: rgb(85, 85, 85);
}
.Pagination__root__vKwe9 .Pagination__next__pUhYk:active {
  color: rgb(51, 51, 51);
}
