.MenuItem__root__qAqgk {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding: 0px 5px;
}
@media (min-width: 600px) {
  .MenuItem__root__qAqgk {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.MenuItem__slotChildren___1PWan {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
@media (min-width: 600px) {
  .MenuItem__slotChildren___1PWan {
    font-size: 18px;
  }
}
.MenuItem__slotChildren__state_current___1PWankrojs {
  font-weight: 600;
}
.MenuItem__root__qAqgk:hover .MenuItem__slotChildren___1PWan {
  color: rgba(255, 255, 255, 0.75);
}
.MenuItem__root__qAqgk:active .MenuItem__slotChildren___1PWan {
  color: rgba(255, 255, 255, 0.5);
}
