.Award__root___1Lt3P {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 5px;
}
.Award__root___1Lt3P > .__wab_flex-container {
  flex-direction: row;
  align-items: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.Award__root___1Lt3P > .__wab_flex-container > *,
.Award__root___1Lt3P > .__wab_flex-container > .__wab_slot > * {
  margin-left: 5px;
}
.Award__svg__kysE {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  margin-top: 2px;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .Award__svg__kysE {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
}
.Award__box__pdrAm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
@media (min-width: 600px) {
  .Award__box__pdrAm {
    width: auto;
    display: inline-flex;
  }
}
.Award__box__d2Bi {
  display: flex;
  position: relative;
  height: auto;
}
.Award__slotTitle__sSzf1 {
  font-size: 13px;
  font-weight: 400;
}
@media (min-width: 600px) {
  .Award__slotTitle__sSzf1 {
    font-size: 18px;
    line-height: 1.4;
  }
}
.Award__box__jgqH {
  display: flex;
  position: relative;
  height: auto;
  width: 100%;
  min-width: 0;
}
.Award__slotDescription__c78El {
  font-size: 10px;
  font-weight: 400;
}
@media (min-width: 600px) {
  .Award__slotDescription__c78El {
    font-size: 14px;
  }
}
