.ListItem__root__vQUdQ {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  position: relative;
}
.ListItem__root__vQUdQ > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - 1px);
  height: calc(100% + 1px);
}
.ListItem__root__vQUdQ > .__wab_flex-container > *,
.ListItem__root__vQUdQ > .__wab_flex-container > .__wab_slot > * {
  margin-top: 1px;
}
.ListItem__box__9E2uC {
  display: flex;
  position: relative;
  flex-direction: row;
}
.ListItem__box__9E2uC > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.ListItem__box__9E2uC > .__wab_flex-container > *,
.ListItem__box__9E2uC > .__wab_flex-container > .__wab_slot > * {
  margin-left: 10px;
}
.ListItem__slotTitle___nVUL {
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 600px) {
  .ListItem__slotTitle--baseMedium___nVULYrWvl_MVUpr {
    font-size: 20px;
  }
}
.ListItem__box__e1X66 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.ListItem__box__IlrBF {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background-color: rgba(10, 54, 65, 0.6);
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.ListItem__box__bJaJF {
  color: rgb(255, 255, 255);
  font-size: 13px;
  text-transform: uppercase;
}
.ListItem__slotSubtitle__OS36h {
  font-weight: 400;
  font-size: 16px;
}
@media (min-width: 600px) {
  .ListItem__slotSubtitle--baseMedium__OS36hYrWvl_MVUpr {
    font-size: 18px;
  }
}
.ListItem__slotDescription__EDhTx {
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 600px) {
  .ListItem__slotDescription--baseMedium__EDhTxYrWvl_MVUpr {
    font-size: 16px;
  }
}
.ListItem__slotSubdescription__55Z1t {
  font-size: 11px;
  font-weight: 400;
}
@media (min-width: 600px) {
  .ListItem__slotSubdescription--baseMedium__55Z1tYrWvl_MVUpr {
    font-size: 14px;
  }
}
