.Layout__root__aI0QR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 600px) {
  .Layout__root__aI0QR {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  .Layout__root__aI0QR > .__wab_flex-container {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 600px) {
  .Layout__root__aI0QR > .__wab_flex-container > *,
  .Layout__root__aI0QR > .__wab_flex-container > .__wab_slot > * {
    margin-left: 0px;
  }
}
.Layout__header__uyLc5 {
  display: flex;
  position: absolute;
  width: 100%;
  height: 44px;
  left: 0;
  top: 0;
  flex-direction: row;
  align-items: center;
  z-index: 2;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  right: 0;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 10px 0px 15px;
  background: rgb(10, 54, 65);
}
@media (min-width: 600px) {
  .Layout__header__uyLc5 {
    left: 0px;
    top: 0px;
    height: 60px;
    padding-left: 25px;
    padding-right: 10px;
    width: auto;
    position: absolute;
    flex-shrink: 0;
  }
}
.Layout__h1__rIxDo {
  display: flex;
  position: relative;
  cursor: pointer;
}
.Layout__slotTitle__cDKfv {
  font-size: 19px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
@media (min-width: 600px) {
  .Layout__slotTitle__cDKfv {
    font-size: 24px;
  }
}
.Layout__menu__tzecm {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 100%;
  flex-direction: row;
  min-height: 0;
}
.Layout__li__m5TbA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link__eMr3F {
  display: flex;
  position: relative;
  flex-direction: row;
}
.Layout__menuItem__jmDJ.__wab_instance {
  position: relative;
  left: auto;
  top: auto;
}
.Layout__li__cVys {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link__k2WhV {
  display: flex;
  position: relative;
}
.Layout__main__gr8W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  top: auto;
  left: auto;
  right: auto;
  margin-top: 44px;
  align-self: auto;
}
@media (min-width: 600px) {
  .Layout__main__gr8W {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin-top: 60px;
  }
}
.Layout__wrap___3HA2C {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
  padding: 30px 15px;
}
.Layout__wrap___3HA2C > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.Layout__wrap___3HA2C > .__wab_flex-container > *,
.Layout__wrap___3HA2C > .__wab_flex-container > .__wab_slot > * {
  margin-top: 30px;
}
@media (min-width: 600px) {
  .Layout__wrap___3HA2C {
    max-width: 760px /* plasmic-token: m86dNwVX1 */;
    width: 100%;
    padding: 40px 15px;
  }
}
@media (min-width: 600px) {
  .Layout__wrap___3HA2C > .__wab_flex-container {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 35px);
    height: calc(100% + 35px);
  }
}
@media (min-width: 600px) {
  .Layout__wrap___3HA2C > .__wab_flex-container > *,
  .Layout__wrap___3HA2C > .__wab_flex-container > .__wab_slot > * {
    margin-left: 0px;
    margin-top: 35px;
  }
}
.Layout__footer__aBls8 {
  display: flex;
  position: relative;
  flex-direction: column;
  background: rgb(238, 238, 238);
}
@media (min-width: 600px) {
  .Layout__footer__aBls8 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  .Layout__footer__aBls8 > .__wab_flex-container {
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 600px) {
  .Layout__footer__aBls8 > .__wab_flex-container > *,
  .Layout__footer__aBls8 > .__wab_flex-container > .__wab_slot > * {
    margin-left: 0px;
  }
}
.Layout__box__rgYZt {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 20px 15px;
}
.Layout__box__rgYZt > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.Layout__box__rgYZt > .__wab_flex-container > *,
.Layout__box__rgYZt > .__wab_flex-container > .__wab_slot > * {
  margin-top: 15px;
}
@media (min-width: 600px) {
  .Layout__box__rgYZt {
    max-width: 760px /* plasmic-token: m86dNwVX1 */;
    left: auto;
    top: auto;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 600px) {
  .Layout__box__rgYZt > .__wab_flex-container {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 600px) {
  .Layout__box__rgYZt > .__wab_flex-container > *,
  .Layout__box__rgYZt > .__wab_flex-container > .__wab_slot > * {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.Layout__slotCopyright__aRz6E {
  font-size: 12px;
}
@media (min-width: 600px) {
  .Layout__slotCopyright__aRz6E {
    font-size: 14px;
  }
}
.Layout__social__ejcDq {
  display: flex;
  position: relative;
  flex-direction: row;
}
.Layout__social__ejcDq > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.Layout__social__ejcDq > .__wab_flex-container > *,
.Layout__social__ejcDq > .__wab_flex-container > .__wab_slot > * {
  margin-left: 15px;
}
.Layout__li__r4Fle {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link__ljS1J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__svg__hriux {
  object-fit: cover;
  width: 22px /* plasmic-token: ViNxHNo2W */;
  height: 22px /* plasmic-token: ViNxHNo2W */;
  flex-shrink: 0;
}
.Layout__li__o4YZy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link__g74Nj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__svg__teQeF {
  object-fit: cover;
  width: 22px /* plasmic-token: ViNxHNo2W */;
  height: 22px /* plasmic-token: ViNxHNo2W */;
  flex-shrink: 0;
}
.Layout__li__dfAei {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link___53Gnk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__svg__cEbZt {
  object-fit: cover;
  width: 22px /* plasmic-token: ViNxHNo2W */;
  height: 22px /* plasmic-token: ViNxHNo2W */;
  flex-shrink: 0;
}
.Layout__li__caRbi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link__i7RjL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__svg__qz1Sw {
  object-fit: cover;
  width: 22px /* plasmic-token: ViNxHNo2W */;
  height: 22px /* plasmic-token: ViNxHNo2W */;
  flex-shrink: 0;
}
