.Code__root__jhD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.Code__pre__rjIj0 {
  display: flex;
  flex-direction: column;
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px;
  background: rgb(253, 246, 227);
}
@media (min-width: 600px) {
  .Code__pre__rjIj0 {
    padding: 15px;
    margin: 0px;
  }
}
.Code__slotChildren__hDrw {
  font-family: "Courier New";
  font-size: 12px;
}
@media (min-width: 600px) {
  .Code__slotChildren__hDrw {
    font-size: 15px;
  }
}
