.Badge__root__hcdhM {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  border-radius: 3px;
  padding: 3px 5px 2px;
  background: rgba(10, 54, 65, 0.6);
}
.Badge__root__type_featured__hcdhMHbdsW {
  background: rgba(201, 76, 34, 0.7);
}
.Badge__box__dvTjy {
  display: flex;
  position: relative;
  height: auto;
}
.Badge__slotChildren___86NGw {
  font-size: 10px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.Badge__slotChildren___86NGw > * {
  text-decoration-line: none;
}
@media (min-width: 600px) {
  .Badge__slotChildren___86NGw {
    font-size: 12px;
  }
}
