.Comments__root__wtQdA {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.Comments__box__dD6Fa {
  font-size: 14px;
  color: rgb(136, 136, 136) /* plasmic-token: LcEYQw5GO */;
  font-style: italic;
}
