.Layout__root__aI0qR {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  .Layout__root--baseMedium__aI0qRpXt1y_MVUpr {
    display: flex;
    flex-direction: column;
  }
}
.Layout__header__UYLc5 {
  display: flex;
  position: absolute;
  background-color: rgb(10, 54, 65);
  width: 100%;
  height: 44px;
  left: 0;
  top: 0;
  flex-direction: row;
  align-items: center;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
  z-index: 2;
  justify-content: space-between;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
  right: 0;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .Layout__header--baseMedium__UYLc5pXt1y_MVUpr {
    left: 0px;
    top: 0px;
    height: 60px;
    padding-left: 25px;
    padding-right: 10px;
    width: auto;
    position: absolute;
    flex-shrink: 0;
  }
}
.Layout__h1__rIXDo {
  display: flex;
  position: relative;
  cursor: pointer;
}
@media (min-width: 600px) {
  .Layout__h1--baseMedium__rIXDopXt1y_MVUpr {
  }
}
.Layout__slotTitle__cDKfv {
  font-size: 19px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
@media (min-width: 600px) {
  .Layout__slotTitle--baseMedium__cDKfvpXt1y_MVUpr {
    font-size: 24px;
  }
}
.Layout__menu__tzecm {
  display: inline-flex;
  position: relative;
  width: auto;
  height: 100%;
  flex-direction: row;
}
@media (min-width: 600px) {
  .Layout__menu--baseMedium__tzecmpXt1y_MVUpr {
  }
}
.Layout__li__m5TbA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link__EMr3f {
  display: flex;
  position: relative;
  flex-direction: row;
}
.Layout__menuItem__jmD-j.__wab_instance {
  width: default;
  height: default;
  position: relative;
  left: auto;
  top: auto;
}
@media (min-width: 600px) {
  .Layout__menuItem--baseMedium__jmD-jpXt1y_MVUpr.__wab_instance {
  }
}
.Layout__li__C_VYS {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link__k2WhV {
  display: flex;
  position: relative;
}
.Layout__menuItem__s2WLh.__wab_instance {
  width: default;
  height: default;
}
.Layout__main___Gr8w {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  top: auto;
  left: auto;
  right: auto;
  margin-top: 44px;
}
@media (min-width: 600px) {
  .Layout__main--baseMedium___Gr8wpXt1y_MVUpr {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    margin-top: 60px;
  }
}
.Layout__wrap__3hA2C {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 30px;
  padding-left: 15px;
}
.Layout__wrap__3hA2C > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.Layout__wrap__3hA2C > .__wab_flex-container > *,
.Layout__wrap__3hA2C > .__wab_flex-container > .__wab_slot > * {
  margin-top: 30px;
}
@media (min-width: 600px) {
  .Layout__wrap--baseMedium__3hA2CpXt1y_MVUpr {
    max-width: 760px /* plasmic-token: m86dNwVX1 */;
    padding-top: 40px;
    padding-right: 15px;
    padding-bottom: 40px;
    padding-left: 15px;
    width: 100%;
  }
}
@media (min-width: 600px) {
  .Layout__wrap--baseMedium__3hA2CpXt1y_MVUpr > .__wab_flex-container {
    margin-top: calc(0px - 35px);
    height: calc(100% + 35px);
  }
}
@media (min-width: 600px) {
  .Layout__wrap--baseMedium__3hA2CpXt1y_MVUpr > .__wab_flex-container > *,
  .Layout__wrap--baseMedium__3hA2CpXt1y_MVUpr
    > .__wab_flex-container
    > .__wab_slot
    > * {
    margin-top: 35px;
  }
}
.Layout__footer__aBLS8 {
  display: flex;
  position: relative;
  background-color: rgb(238, 238, 238);
  flex-direction: column;
}
@media (min-width: 600px) {
  .Layout__footer--baseMedium__aBLS8pXt1y_MVUpr {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.Layout__box__rgYZt {
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: auto;
}
.Layout__box__rgYZt > .__wab_flex-container {
  flex-direction: column;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.Layout__box__rgYZt > .__wab_flex-container > *,
.Layout__box__rgYZt > .__wab_flex-container > .__wab_slot > * {
  margin-top: 15px;
}
@media (min-width: 600px) {
  .Layout__box--baseMedium__rgYZtpXt1y_MVUpr {
    max-width: 760px /* plasmic-token: m86dNwVX1 */;
    left: auto;
    top: auto;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 600px) {
  .Layout__box--baseMedium__rgYZtpXt1y_MVUpr > .__wab_flex-container {
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 600px) {
  .Layout__box--baseMedium__rgYZtpXt1y_MVUpr > .__wab_flex-container > *,
  .Layout__box--baseMedium__rgYZtpXt1y_MVUpr
    > .__wab_flex-container
    > .__wab_slot
    > * {
    margin-top: 20px;
  }
}
.Layout__slotCopyright__ARz6E {
  font-size: 12px;
}
@media (min-width: 600px) {
  .Layout__slotCopyright--baseMedium__ARz6EpXt1y_MVUpr {
    font-size: 14px;
  }
}
.Layout__social__ejcDQ {
  display: flex;
  position: relative;
  flex-direction: row;
}
.Layout__social__ejcDQ > .__wab_flex-container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.Layout__social__ejcDQ > .__wab_flex-container > *,
.Layout__social__ejcDQ > .__wab_flex-container > .__wab_slot > * {
  margin-left: 15px;
}
@media (min-width: 600px) {
  .Layout__social--baseMedium__ejcDQpXt1y_MVUpr {
  }
}
@media (min-width: 600px) {
  .Layout__social--baseMedium__ejcDQpXt1y_MVUpr > .__wab_flex-container {
  }
}
@media (min-width: 600px) {
  .Layout__social--baseMedium__ejcDQpXt1y_MVUpr > .__wab_flex-container > *,
  .Layout__social--baseMedium__ejcDQpXt1y_MVUpr
    > .__wab_flex-container
    > .__wab_slot
    > * {
  }
}
.Layout__li__r4FLE {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 600px) {
  .Layout__li--baseMedium__r4FLEpXt1y_MVUpr {
  }
}
.Layout__link__LjS1J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__svg__HRIUX {
  object-fit: cover;
  width: 22px /* plasmic-token: ViNxHNo2W */;
  height: 22px /* plasmic-token: ViNxHNo2W */;
  flex-shrink: 0;
}
@media (min-width: 600px) {
  .Layout__svg--baseMedium__HRIUXpXt1y_MVUpr {
  }
}
.Layout__li__o4yZy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link__g74NJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__svg__TEQeF {
  object-fit: cover;
  width: 22px /* plasmic-token: ViNxHNo2W */;
  height: 22px /* plasmic-token: ViNxHNo2W */;
  flex-shrink: 0;
}
.Layout__li__dfAEI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link__53gnk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__svg__cEbZT {
  object-fit: cover;
  width: 22px /* plasmic-token: ViNxHNo2W */;
  height: 22px /* plasmic-token: ViNxHNo2W */;
  flex-shrink: 0;
}
.Layout__li__caRBI {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__link__i7rjL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.Layout__svg__qz1sw {
  object-fit: cover;
  width: 22px /* plasmic-token: ViNxHNo2W */;
  height: 22px /* plasmic-token: ViNxHNo2W */;
  flex-shrink: 0;
}
