.Badge__root__HcdhM {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  background-color: rgba(10, 54, 65, 0.6);
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-left: 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
}
.Badge__root--featured__HcdhMHbdsW {
  background-color: rgba(201, 76, 34, 0.7);
}
.Badge__box__DvTjy {
  display: flex;
  position: relative;
  height: auto;
}
.Badge__slotChildren__86nGw {
  font-size: 10px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
@media (min-width: 600px) {
  .Badge__slotChildren--baseMedium__86nGwatg_U_MVUpr {
    font-size: 12px;
  }
}
.Badge__slotChildren--featured__86nGwHbdsW {
}
