$blue: rgb(10, 54, 65);

body, html {
  margin: 0;
  padding: 0;
}

a {
  color: $blue;
}

img {
  height: auto;
  max-width: 100%;
}

figcaption {
  font-size: 0.8em;
  opacity: 0.7;
  text-align: center;
}
