@import 'base/breaks';
@import 'base/fonts';

.index {
  &-header {
    background: #000;
    opacity: 0.6;
    padding: 1px 0;
  }

  &-title {
    @extend %sans;
    @extend %wrap;
    color: #fff;
    font-size: 16px;
    line-height: 28px;

    &::before {
      content: "> ";
    }

    @include breakpoint($big) {
      font-size: 20px;
      line-height: 36px;
    }
  }

  &-list {
    list-style: none;

    > li {
      background: #f8f8f4;
      padding: 1px 0;
      &:nth-child(2n+1) {
        background: #fff;
      }
    }
  }
}
